<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1> Enter a Movie Name </h1>
    <form method="post">
        <input type="text" name="movie_name" placeholder="Enter a movie name...">
        <button type="submit">Get Recommendations</button>
    </form>

    
    <ul class="suggested-movies">
    <h2> Suggested Movie Names </h2>
    <ul>
        {% for movie in random_movies %}
            <li>{{ movie }}</li>
        {% endfor %}
    </ul>
    </ul>   
</body>
</html>
